.chat-main
  .chat-main__header
    .current-group
      .current-group__name
        = @group.name
      .current-group__members
        = "Member:"
        - @group.users.each do |user|
          = "#{user.name}"

    .group-edit
      = link_to "/groups/#{@group.id}/edit", method: :get , class: "edit-btn" do
        Edit

  .chat-main__messages
    .messages
      - @messages.each do |post|
        = render partial: "message", locals: { post: post }
    

  .chat-main__form
    = form_for [@group, @message], url: group_messages_path do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'far fa-image')
          = f.file_field :image, class: 'input-box__image--file'
      = f.submit 'Send', class: 'submit-btn'

